*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    background-color: black;
    color: white;
}
.compras{
    display: flex;
    justify-content: space-around;
    background-color: darkred;
    color: white;
}
#elemento1{
    color: red ;
    font-size: 2rem;
}