*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.img-container{
    width: 300px;
    opacity: 0.5;
}
.img-container:hover{
    opacity: 1;
    cursor: pointer;
}